%h2
  Manage Bicycles
  %small.text-muted= @bicycles.count
%hr
%section._h_wrapper
  %small.pull-right
    = link_to new_bicycle_path, class: 'btn' do
      %i.fa.fa-plus
      Add bicycle
  = link_to 'Created', manages_path, class: "btn btn-secondary #{'active' if params[:type].nil?}"
  = link_to 'Used', manages_path(type: 'used'), class: "btn btn-secondary #{'active' unless params[:type].nil?}"
  - if @bicycles.any?
    = render 'bikes_table', bicycles: @bicycles
  - else
    .blank-slate
      .slate-image
        ._center
          %i.fa.fa-info-circle
      .slate-text
        ._center No Bikes Found
      .slate-description
        ._center You do not reinventing any bikes yet
