= content_for :search do
  = form_tag nil, class: 'search-form', method: :get do
    .search-field
      %label{for: 'search'}
      = search_field_tag :search, params[:search], placeholder: 'Search for bicycles', class: 'search-input'

%h3
  Bicycles
  %small.text-muted#total_count= @bicycles.total_count
%hr
%span._m-r-xl Category filtering:
= link_to 'All', bicycles_path, class: "btn btn-info btn-sm #{'active' if params[:category].nil?}"
- Category.find_each do |category|
  = link_to category, bicycles_path(category: category.name), class: "btn btn-info btn-sm #{'active' if params[:category] == category.name}"
- if @bicycles.any?
  #bicycles
    = render @bicycles
  = paginate @bicycles
- else
  .blank-slate
    .slate-image
      ._center
        %i.fa.fa-info-circle
    .slate-text
      ._center No Bikes Found
