= content_for :search do
  = form_tag nil, class: 'search-form', method: :get do
    .search-field
      %label{for: 'search'}
      = search_field_tag :search, params[:search], placeholder: "Filter", class: 'search-input input-round'

%h3
  Bicycles
  %small.text-muted= @bicycles.total_count
%hr
- if @bicycles.any?
  %span._m-r-xl Category filtering:
  - Category.find_each do |category|
    = link_to category, bicycles_path(category: category.name), class: "btn btn-info btn-sm #{'active' if params[:category] == category.name}"
  - @bicycles.each do |bike|
    .bicycle-box{id: "bike_#{bike.id}"}
      %span.usage
        = link_to 'Mark as used', usage_path(bike.id), method: :put, class: 'btn btn-secondary btn-sm'
      .bicycle-image{ style: "background-image: url(#{bike.image})" }
      .bicycle-content
        %h4= link_to bike.name, bike
        %p Category: #{bike.category}
        %p= truncate bike.description, length: 150
  = paginate @bicycles
- else
  .blank-slate
    .slate-image
      ._center
        %i.fa.fa-info-circle
    .slate-text
      ._center No Bikes Found
