.row._h_wrapper
  .col-md-4
    = image_tag @bicycle.image, width: 300
  .col-md-8
    %h1
      = @bicycle.name
    - if policy(@bicycle).destroy?
      %p
        = link_to edit_bicycle_path(@bicycle) do
          Edit
        |
        = link_to bicycle_path(@bicycle), method: :delete, data: { confirm: 'Are you sure?' } do
          Delete
    - if policy(@bicycle).can_suggest_improves?
      = link_to 'Edit Bike', new_bicycle_suggestion_path(@bicycle)
    %p
      Type:
      %strong= @bicycle.category
    %p
      Owner:
      %strong= @bicycle.user
    %p= @bicycle.description
%hr

- if policy(@bicycle).see_suggestion?
  %h4 Bicycle Suggestion
  %table.table
    %thead
      %th
      %th Name
      %th Description
      %th Status
      %th
    %tbody
      - @bicycle.suggestions.each do |suggestion|
        %tr
          %td= image_tag suggestion.image, width: 30
          %td.text-bold= link_to suggestion.name, bicycle_suggestion_path(@bicycle, suggestion)
          %td= truncate suggestion.description, length: 150
          %td= suggestion.status
          %th
            - if suggestion.user == current_user
              = link_to edit_bicycle_suggestion_path(@bicycle, suggestion) do
                %i.fa.fa-pencil
              = link_to bicycle_suggestion_path(@bicycle, suggestion), method: :delete, data: {confirm: 'Are you sure?'} do
                %i.fa.fa-trash
            - if policy(@bicycle).merge_suggestion?
              = link_to 'Check Suggestion', bicycle_suggestion_path(@bicycle, suggestion)
