.row._h_wrapper
  .col-md-4
    = image_tag @bicycle.image, width: 300
  .col-md-8
    %h1
      = @bicycle.name
    %p
      = link_to edit_bicycle_path(@bicycle) do
        Edit
      |
      = link_to bicycle_path(@bicycle), method: :delete, data: { confirm: 'Are you sure?' } do
        Delete
    %strong Type: #{@bicycle.category}
    %p= @bicycle.description
