.row._h_wrapper
  .col-md-4
    = image_tag @bicycle.image, width: 300
  .col-md-8
    %h1
      = @bicycle.name
    - if policy(@bicycle).destroy?
      %p
        = link_to edit_bicycle_path(@bicycle) do
          Edit
        |
        = link_to bicycle_path(@bicycle), method: :delete, data: { confirm: 'Are you sure?' } do
          Delete
    %p
      Type:
      %strong= @bicycle.category
    %p
      Owner:
      %strong= @bicycle.user
    %p= @bicycle.description
